<h1>Edit Cohort!</h1>

<%= render 'form', cohort: @cohort %>



<%= link_to 'Show', @cohort, :method => "get", :class => "btn" %>
<%= link_to 'Back', cohorts_path, :method => "get", :class => "btn" %>
