<h1>Edit Item!</h1>

<%= render 'form', disciplines: @disciplines %>

<%= link_to 'Show', @disciplines, :method => "get", :class => "btn" %>
<%= link_to 'Back', disciplines_path, :method => "get", :class => "btn" %>
