<h1>Edit Item!</h1>

<%= render 'form', streams: @streams %>

<%= link_to 'Show', @streams, :method => "get", :class => "btn" %>
<%= link_to 'Back', streams_path, :method => "get", :class => "btn" %>
